<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <div id = "app">
            <form @submit.prevent="submitForm()">
                <p v-if="error.length">
                    <b>Please correct the following errors :</b>
                    <ul>
                        <li v-for="erors in error">{{ erors }}</li>
                    </ul>
                </p>
                <label>Nama : </label><br>
                <input type="text" :disabled="buttonStatus == 'upload'" name="name" ref="name" v-model="name"><br>
                <label>Address : </label><br>
                <textarea name="address" :disabled="buttonStatus == 'upload'" ref="address" v-model="address"></textarea><br>
                <label>No. HP : </label><br>
                <input  type="text" name="no_hp" :disabled="buttonStatus == 'upload'" ref="no_hp" v-model="no_hp"><br><br>
                <div v-if="buttonStatus == 'submit'">
                    <input type="submit" value="SUBMIT"><br><br>
                </div>
                <div v-if="buttonStatus == 'update'">
                    <input type="button" value="UPDATE" @click='updateMember(idEditMember)'><br><br>
                    <input type="button" value="CANCEL" @click='clearForm'> <br><br>
                </div>
                <div v-if="buttonStatus == 'upload'">
                    <input type="file" name ="photo_profile" ref="photo_profile"><br><br>
                    <input type="button" value="UPLOAD" @click="submitPhoto(idUploadMember)" style="margin-top:5px; margin-bottom: 5px">
                    <input type="button" value="CANCEL" @click='clearForm'> <br><br>
                </div>
            </form>

            <table border=1>
                <tr v-for = "member of members">
                    <td>
                        <button @click="editMember(member)">Edit</button>
                        <button @click="removeMember(member.id)">Delete</button>
                        <button @click="uploadPhoto(member)">Upload Photo</button>
                    </td>
                    <td>
                        <b>Name : </b> : {{ member.name }} <br>
                        <b>Address : </b> : {{ member.address }}<br>
                        <b>Phone Number : </b> : {{ member.no_hp }}<br>
                    </td>
                    <td> <img width=100 :src="member.photo_profile ? photoDomain + member.photo_profile : 'https://dummyimage.com/1920x1080/000/fff.png'"></td>
                    
                </tr>

            </table>
        </div>
    </body>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        var vm = new Vue({
            el : '#app',
            data : {
                name: '',
                address: '',
                no_hp:'',
                members: [],
                error : [],
                photoDomain : "http://demo-api-vue.sanbercloud.com/",
                buttonStatus : 'submit',
                idEditMember : null,
                idUploadMember : null
            },
            methods : {
                validationForm : function(){
                    this.error = []
                    if (this.name.length < 7){
                        this.error.push('Nama minimal 7 karakter')
                        this.$refs.name.focus()
                    }

                    if (this.address.length > 50){
                        this.error.push('Address lebih 50 karakter')
                        this.$refs.address.focus()
                    }

                    if (this.no_hp.length < 12){
                        this.error.push('Nomor hp kurang dari 12 digit')
                        this.$refs.no_hp.focus()
                    }

                },
                getMember : function(){
                    const config = {
                        method : 'get',
                        url : 'http://demo-api-vue.sanbercloud.com/api/member'
                    }
                    
                    axios(config)
                        .then( (response) => {
                            this.members = response.data.members
                        })
                        .catch( (error) => {
                            console.log(error)
                        })
                },
                removeMember : function(id){
                    const config = {
                        method : "post",
                        url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params : {_method : "DELETE"}
                    }

                    axios(config)
                        .then( (response) =>{
                            this.getMember()
                            alert(response.data.message)
                        })
                        .catch( (error) => {
                            console.log(error)
                        })
                },
                clearForm : function(){
                    this.name = ''
                    this.address = ''
                    this.no_hp = ''
                    this.idEditMember = null
                    this.buttonStatus = 'submit'
                    this.idUploadMember = null
                },
                editMember : function(member){
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.buttonStatus = 'update'
                    this.idEditMember = member.id
                },
                updateMember : function(id){
                    this.validationForm()
                    if(this.error.length === 0){
                        let formData = new FormData()
                        formData.append('name',this.name)
                        formData.append('address',this.address)
                        formData.append('no_hp',this.no_hp)
                    

                        let config = {
                            method : "post",
                            url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                            params : {_method : 'PUT'},
                            data : formData
                        }
                    
                        axios(config)
                            .then( (response) => {
                                this.clearForm()
                                this.getMember()
                                alert(response.data.message)
                            })
                            .catch( (error) => {
                                console.log(error)
                            })
                    }
                },
                uploadPhoto : function(member) {
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.buttonStatus = 'upload'
                    this.idUploadMember = member.id
                },
                submitPhoto : function(id){
                    let file = this.$refs.photo_profile.files[0]

                    let formData =new FormData()
                    formData.append('photo_profile',file)

                    let config = {
                            method : 'post',
                            url : `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                            data : formData
                        }
                    
                        axios(config)
                            .then( (response) => {
                                this.clearForm()
                                this.getMember()
                                alert(response.data.message)
                            })
                            .catch( (error) => {
                                console.log(error)
                            })
                },
                submitForm : function(){
                    this.validationForm()
                    if(this.error.length === 0 ){
                        let formData = new FormData()
                        formData.append('name',this.name)
                        formData.append('address',this.address)
                        formData.append('no_hp',this.no_hp)

                        const config = {
                            method : "post",
                            url    : "http://demo-api-vue.sanbercloud.com/api/member",
                            data   : formData
                        }
                    
                        axios(config)
                            .then( (response) => {
                                this.clearForm()
                                this.getMember()
                                alert(response.data.message)
                                console.log(response.data)
                            })
                            .catch( (error) => {
                                console.log(error)
                            })
                    }
                }
            },
            created(){
                this.getMember()
            }
        })
    </script>
</html>
